.terminal-item {
    margin: 15px 0;
}
.terminal-item--head {
    color: #fff92f;
    margin-bottom: 10px;
}
.terminal-item--head:before {
    content: "✓";
    font-size: 20px;
    font-weight: bold;
    color: green
}
.terminal-item input {
    padding: 5px;
    border-radius: 5px;
}